button {
    margin-right: 1em;
}

#out-blocks {
    margin-top: 1em;
}

.block {
    padding: 0.5em;
    margin-bottom: 1em;
}

.red {
    background-color: red;
}

.yellow {
    background-color: yellow;
}